html {
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1em;
  }

  input,
  button {
      border: 0;
  }

  ul {
      list-style: none;
  }

  *, 
  *:before, 
  *:after {
    box-sizing: inherit;
  }

  body {
      margin: 0;
      background-color: #F4F4F4;
      font-size: 18px;
      color: #494B92;
  }

  .logo{
      width: 80px;
      margin: 0 auto; 
      margin-top: 2em; 
  }

  h1 {
      font-family: 'Bree Serif', serif;
      font-size: 1.4em;
      text-align: center;
      font-weight: 300;
      color: #494B92;
  }

  form {
      width: 100%;
      width: 400px;
      max-width: 80%;
      margin: 20px auto;
  }

  .input-div {
      margin: 40px 0;
  }

  form input {
      font-size: 20px;
      padding: 10px;
      border-bottom: 1px solid #494B92;
      width: 100%;
      color: #010166;   
      font-family: 'Open Sans Condensed', sans-serif;
  }

  #currentValue,
  #futureValue {
      font-weight: bold;
      color: #FF6201;
  }

  .flex:hover,
  .flex:focus-within {
    -webkit-box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.16);
    -ms-box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.16);
    -o-box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.16);
   }

   .result:hover,
   .result:focus-within {
     box-shadow: none;
   }


  #capRate {
    border-bottom: 1px solid #494B92;
    border-right: 0;
    padding: 10px 10px 10px 20px;
  }

  form input:focus {
      outline: 0;
  }

  form input:disabled {
      background-color: #f4f4f4; 
  }
  
  label {
      /* text-transform: uppercase; */
      color: #494B92;
      font-weight: bold;
      display: block;
      margin-top: 10px;
      margin-bottom: 5px;
      font-size: 16px;
  }

  .flex {
      display: flex;
      justify-content: flex-start;
  }

  .flex .percentage {
    justify-content: flex-end;  
  }
  .flex input {
      flex: 1 1 300px;
  }
  .flex .currency,
  .flex .percentage {
      font-size: 18px;
      padding: 0 10px 0 20px;
      color: #494B92;
      border-bottom: 1px solid #010166;
      line-height: 2.5;
      background: white;
  }

  .flex .percentage {
    border-bottom: 1px solid #010166;
    border-left: 0;
  }

  .flex .disabled {
    background: #f4f4f4;  
  }

  button {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #494B92;
    font-size: .8em;
	/* width: 15%; */
	display: inline-block;
	text-decoration: none;
	background: #f4f4f4;
    padding: 15px 0 2px;
    margin-left: 94%;
    border-bottom: 1px solid #494B92;
    transition: all .15s ease-in-out; 
}

#resetButton {
    margin-left: 94.5%;
}


button:hover {
    color: #FF6201;
    border-bottom-color: #FF6201;
}

button:focus {
    outline: 0;
}

button:active {
    border-bottom: 2px solid #FF6201;
    font-weight: bold;
}

footer {
    width: 100%;
    min-height: 30px;
    background-color: #494B92;
    color: #fff;
    text-align: centre;
}

.footer-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.footer-logo {
    width: 50px;
}

footer p {
    padding: 0;
    margin: 10px 0;
    font-size: .8em;
}

/* LARGER STYLES */

@media screen and (min-width: 560px) {
    h1 {
        font-size: 2em;
    }

    .logo {
        width: 120px;
    }
}