html {
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1em;
  }

  input,
  button {
      border: 0;
  }

  *, 
  *:before, 
  *:after {
    box-sizing: inherit;
  }

  body {
      margin: 0;
      background-color: #F4F4F4;
      font-size: 1.125em;
      color: #494B92;
  }

  p {
      margin: 0;
  }

  /* Header Styles */

  .header {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      max-width: 35em;
  }

  .logo{
      width: 80px;
      margin: 0 auto; 
      margin-top: 2em;
      text-align: centre; 
  }

  h1 {
      font-family: 'Bree Serif', serif;
      font-size: 1.4em;
      text-align: center;
      font-weight: 300;
      color: #494B92;
  }


  /* Body Styles */

  .calculator {
      max-width: 80%;
      background-color: #fff;
      margin: 20px auto;
      padding: 15px 15px 30px 15px;
     -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
     -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
     -ms-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
     -o-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
     box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  }

  form {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 10px auto;
  }

  .profit-inputs {
      display: flex;
      flex-direction: column;
  }

  form input {
      font-size: 1.25em;
      padding: 10px;
      border: 1px solid #494B92;
      border-left: 0;
      border-radius: 0 5px 5px 0;
      width: 100%;
      color: #010166;   
      font-family: 'Open Sans Condensed', sans-serif;
  }

  #currentValue,
  #futureValue {
      font-weight: bold;
      color: #FF6201;
  }

  .flex:hover,
  .flex:focus-within {
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.16);
    -ms-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.16);
    -o-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.16); 
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
   }

   .result:hover,
   .result:focus-within {
     box-shadow: none;
   }


  #capRate {
    border: 1px solid #494B92;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    padding: 10px 10px 10px 20px;
  }

  form input:focus {
      outline: 0;
  }

  form input:disabled {
      background-color: #f4f4f4; 
  }
  
  label {
      color: #494B92;
      font-weight: bold;
      display: block;
      margin-top: 10px;
      margin-bottom: 3px;
      font-size: 1em;
  }

  .flex {
      display: flex;
      justify-content: flex-start;
  }

  .flex .percentage {
    justify-content: flex-end;  
  }
  .flex input {
      flex: 1 1 300px;
  }
  .flex .currency,
  .flex .percentage {
      font-size: 1.125em;
      padding: 0 10px 0 10px;
      color: #494B92;
      border: 1px solid #010166;
      border-right: 0;
      border-radius: 5px 0 0 5px;
      line-height: 2.5;
      background: white;
  }

  .flex .percentage {
    border: 1px solid #010166;
    border-radius: 0 5px 5px 0;
    border-left: 0;
  }

  .flex .disabled {
    background: #f4f4f4;  
  }

  button {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #494B92;
    text-align: right;
    font-size: .8em;
	display: inline-block;
	text-decoration: none;
	background: #fff;
    padding: 0;
    border-bottom: 1px solid #494B92;
    transition: all .15s ease-in-out; 
    margin-left: 92%;
}

button:hover {
    color: #FF6201;
    border-bottom-color: #FF6201;
}

button:focus {
    outline: 0;
}

button:active {
    border-bottom: 2px solid #FF6201;
    font-weight: bold;
}



footer {
    width: 100%;
    background-color: #494B92;
    color: #fff;
    text-align: centre;
    margin-top: 80px;
}

.footer-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.footer-logo {
    width: 50px;
}

footer p {
    padding: 0;
    margin: 10px 0;
    font-size: .8em;
}

/* LARGER STYLES */

@media screen and (min-width: 670px) {
    h1 {
        font-size: 2em;
    }

    .logo {
        width: 120px;
    }

    form {
        flex-direction: row;
        justify-content: space-around;
    }

    .current-calculator,
    .future-calculator {
        padding: 0 20px;
        min-width: 40%;
    }

    .input-div {
        margin: 0;
    }
}

@media screen and (min-width: 860px) {

    .calculator {
        max-width: 70%;
    }
    .profit-inputs {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .profit-inputs .input-div {
        min-width: 47.5%;
        max-width: 50%;
    }

    .profit-inputs .input-div:nth-of-type(odd) {
        min-width: 47%;
        max-width: 47%;
    }

    #resetButtonFuture {
    margin-left: 95%;
}

}